@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Montserrat", sans-serif;
}

*:focus {
    outline: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* Background Blur and Modal Styles */
.backdrop-blur-sm {
    backdrop-filter: blur(5px); /* Apply blur to the background */
  }
  
  .blur-sm {
    filter: blur(5px); /* Blur effect on the main content */
  }
  
  /* Optional Modal Enhancements */
  body.modal-open {
    overflow: hidden; /* Prevent scrolling when modal is open */
  }
  